{% extends 'Base/base.html.twig' %}

{% block corpo %}

    <div class="box-header with-border">
        <section class="nav_top">
            <div class="h1_geral"><h1>Lista dos pontos</h1></div>
        </section>
    </div>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Bairro</th>
            <th scope="col">Rua</th>
            <th scope="col">Ponto de referência</th>
            <th scope="col">Opções</th>
        </tr>
        </thead>
        <tbody>
        {% for ponto in pontos %}
            <tr>
                <td>{{ ponto.id }}</td>
                <td>{{ ponto.nome }}</td>
                <td>{{ ponto.bairro }}</td>
                <td>{{ ponto.rua }}</td>
                <td>{{ ponto.ponto_referencia }}</td>
                <td>
                    <i data-id-ponto="{{ ponto.id }}" class="btn btn-sm btn-primary editar_ponto">
                        <ion-icon src="/Imagens/pencil-outline.svg" class="icon-edit"></ion-icon>
                    </i>
                    <i data-id-ponto="{{ ponto.id }}" class="btn btn-sm btn-danger remove_ponto">
                        <ion-icon src="/Imagens/trash-outline.svg" class="icon-delete"></ion-icon>
                    </i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}