{% extends 'Base/base.html.twig' %}

{% block corpo %}

    <div class="box-header with-border">
        <section class="nav_top">
            <div class="h1_geral"><h1>Lista dos ônibus</h1></div>
        </section>
    </div>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Motorista responsavel</th>
            <th scope="col">Numero da placa</th>
            <th scope="col">Opções</th>

        </tr>
        </thead>
        <tbody>
        {% for onibus in allOnibus %}
            <tr>
                <td>{{ onibus.id }}</td>
                <td>{{ onibus.motorista_responsavel }}</td>
                <td>{{ onibus.placa }}</td>
                <td>
                    <i data-id-onibus="{{ onibus.id }}" class="btn btn-sm btn-primary editar_onibus">
                        <ion-icon src="/Imagens/pencil-outline.svg" class="icon-edit"></ion-icon>
                    </i>
                    <i data-id-onibus="{{ onibus.id }}" class="btn btn-sm btn-danger remove_onibus">
                        <ion-icon src="/Imagens/trash-outline.svg" class="icon-delete"></ion-icon>
                    </i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}