{% extends 'Base/base.html.twig' %}

{% block corpo %}

    <div class="box-header with-border">
        <section class="nav_top">
            <div class="h1_geral"><h1>Lista das rotas</h1></div>
        </section>
    </div>

    <div>
        <section>
            <div class="position-cadastro-rota">
                <a class="btn btn-success" href="/rota/cadastro"> Cadastrar </a>
            </div>
        </section>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Cidade</th>
                <th scope="col">Ações</th>

            </tr>
            </thead>
            <tbody>
            {% for rota in rotas %}
                <tr>
                    <td>{{ rota.id }}</td>
                    <td>{{ rota.nome }}</td>
                    <td>{{ rota.cidade }}</td>
                    <td>
                        <i data-id-rota="{{ rota.id }}" class="btn btn-sm btn-primary editar_rota">
                            <ion-icon src="/Imagens/pencil-outline.svg" class="icon-edit"></ion-icon>
                        </i>
                        <i data-id-rota="{{ rota.id }}" class="btn btn-sm btn-danger remove_rota">
                            <ion-icon src="/Imagens/trash-outline.svg" class="icon-delete"></ion-icon>
                        </i>
                        <i data-id-rota="{{ rota.id }}" class="btn btn-sm btn-lg listar_vinculos_rota">
                            <ion-icon src="/Imagens/git-compare-outline.svg" class="icon-vinculo"></ion-icon>
                        </i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}