{% extends 'Base/base.html.twig' %}

{% block corpo %}

    <div class="box-header with-border">
        <section class="nav_top">
            <div class="h1_geral"><h1>Mostrar Vinculos</h1></div>
        </section>
    </div>

    <table>
        <tr>
            <td>
                <div class="inlainer">
                    <div class="wrap">
                        <h2 class="vinculo">Ônibus da rota</h2>
                        <table class="table table-bordered vinculo">
                            <thead>
                            <tr>
                                <th scope="col">Nome da rota</th>
                                <th scope="col">Placa do ônibus</th>
                                <th scope="col">Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rotaOnibus in rotasOnibus %}
                                <tr>
                                    <td>{{ rotaOnibus.nome }}</td>
                                    <td>{{ rotaOnibus.placa }}</td>
                                    <td>
                                        <i data-id-rota-onibus="{{ rotaOnibus.id }}" class="btn btn-sm btn-primary editar_ponto">
                                            <ion-icon src="/Imagens/pencil-outline.svg" class="icon-edit"></ion-icon>
                                        </i>
                                        <i data-id-rota-onibus="{{ rotaOnibus.id }}" class="btn btn-sm btn-danger remove_ponto">
                                            <ion-icon src="/Imagens/trash-outline.svg" class="icon-delete"></ion-icon>
                                        </i>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="wrap">
                        <h2 class="vinculo">Pontos da rota</h2>
                        <table class="table table-bordered vinculo">
                            <thead>
                            <tr>
                                <th scope="col">Nome da rota</th>
                                <th scope="col">Nome do ponto</th>
                                <th scope="col">Horário</th>
                                <th scope="col">Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rotaPonto in rotasPontos %}
                                <tr>
                                    <td>{{ rotaPonto.nome }}</td>
                                    <td>{{ rotaPonto.nome_ponto }}</td>
                                    <td>{{ rotaPonto.horario }}</td>
                                    <td>
                                        <i data-id-rota-ponto="{{ rotaPonto.id }}" class="btn btn-sm btn-primary editar_ponto">
                                            <ion-icon src="/Imagens/pencil-outline.svg" class="icon-edit"></ion-icon>
                                        </i>
                                        <i data-id-rota-ponto="{{ rotaPonto.id }}" class="btn btn-sm btn-danger remove_ponto">
                                            <ion-icon src="/Imagens/trash-outline.svg" class="icon-delete"></ion-icon>
                                        </i>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>

{% endblock %}